GWS_SQL_SERVER=20.115.100.11
GWS_SQL_DATABASE=nhplay_staging
GWS_SQL_USER=readonly_login
GWS_SQL_PASSWORD=change-me
GWS_SQL_DRIVER=ODBC Driver 18 for SQL Server
GWS_SQL_TRUST_SERVER_CERTIFICATE=1
GWS_SQL_MARS_CONNECTION=1
GWS_SQL_APP_NAME=NHPlayPythonOps

